{% extends 'base.html' %}

{% block title %}
    Administración
{% endblock %}

{% block content %}
    
    <br>
    <form action="" method="post" class="bg-light shadow-sm p-3 border border-top-0">
        <h4>Recuperar contraseñas de usuarios</h4>
        {{ form_password.csrf_token }}
        <p>{{ render_field(form_password.usuario, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form_password.password, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form_password.re_password, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form_password.submit, button_style='outline-success') }}</p>
    </form>
    <br>
    <form action="" method="post" class="bg-light shadow-sm p-3 border border-top-0">
        <h4>Rellenar comisiones de la agenda</h4>
        {{ form_fill.csrf_token }}
        <p>{{ render_field(form_fill.fecha_final, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form_fill.submit, button_style='outline-success') }}</p>

    </form>
    <br>
    <form action="" method="post" class="bg-light shadow-sm p-3 border border-top-0">
        <h4>Borrar páginas de fecha pasadas</h4>
        {{ form_delete.csrf_token }}
        <p>{{ render_field(form_delete.submit, button_style='outline-success') }}</p>
    </form>
{% endblock %}