{% extends 'base.html' %}

{% block title %}
    Apuntes
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}
 

{% block content %}

    <br>
    <h3>Comprobación de fechas disponibles {{ render_icon('info-circle-fill', size='0.75em') }}</h3>
    <br>
    <form action="" method="post">
        {{ subform.csrf_token() }}
        {{ render_field(subform.fecha, form_type='horizontal', horizontal_columns=('md', 2, 5))}}
        {{ render_field(subform.submit, button_style='outline-success') }}
    </form>
    
    <br>
    <hr>
    <article>
    <h3 style="display: inline;">Anotación {{ render_icon('database-fill-add', size='0.75em') }}</h3>
    <h5 style="display: inline; margin-left: 19em;">Turno: Comision {{ turno }}</h5>
    <br>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        <p>
            {{ render_field(form.dia, form_type='horizontal', horizontal_columns=('md', 2, 5)) }}
        </p>
        <p>
            {{ render_field(form.comision, form_type='horizontal', horizontal_columns=('md', 2, 5)) }}
        </p>
        <p>
            {{ render_field(form.juzgado, form_type='horizontal', horizontal_columns=('md', 2, 5)) }}
        </p>
        <p>
            {{ render_field(form.representante, form_type='horizontal', horizontal_columns=('md', 2, 5)) }}
        </p>
        <p>
            {{ render_field(form.procedimiento, form_type='horizontal', horizontal_columns=('md', 2, 5), placeholder='número/año(4 dígitos)') }}
        </p>
        <p> {{ render_field(form.submit, button_style='outline-success') }}</p>
    </form>
    
    </article>
    
    
{% endblock %}