{% extends 'base.html' %}

{% block title %}
    Cambio de contraseña
{% endblock %}

{% block content %}
    {{ super() }}
    <br>
    <form action="" method="post" class="bg-light shado-sm p-3 border border-top-0">
        {{ form.csrf_token }}
        <p>{{ render_field(form.actual, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form.nueva, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form.repetir, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form.submit, button_style='outline-success') }}</p>
    </form>
{% endblock %}