{% extends 'base.html' %}

{% block title %}
    Página de agenda
{% endblock %}

{% block content %}
    <br>
    <div id="mostrar">
    <form name="form" method="post" target="marco" class="bg-light shadow-sm p-3 border border-top-0" onsubmit="mostrarMarcoHoja()">
        <h4>Hoja de la agenda</h4>
        <br>
        {{ form.csrf_token }}
        <p>{{ render_field(form.fecha, form_type='horizontal', horizontal_columns=('md', 2 ,4)) }}</p>
        <p>{{render_field(form.submit, button_style='outline-success') }}</p>
    </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}