{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <br>
    <h4>Autenticación</h4>
    <br>
    <form action="" method="get">
        {{ form.csrf_token() }}
        <p>{{ render_field(form.username, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form.password, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form.submit, button_style='outline-success') }}</p>
    </form>
{% endblock %}