{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}
{% block styles %}
    {{ super() }}
{% endblock %}

{% block content %}
    <br>
    <form action="" method="post" class="bg-light shadow-sm border border-top-0 p-3">
        <h4>Autenticación</h4>
        {{ form.csrf_token }}
        <p>{{ render_field(form.username, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form.password, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form.submit, button_style='outline-success') }}</p>
        
    </form>
{% endblock %}