{% extends 'base.html' %}

{% block title %}
    Señalamientos del día
{% endblock %}

{% block nav %}
    {{ super () }}
{% endblock %}

{% block content %}
    <br>
    <div id="mostrar">
    <form action="" method="post" target="marco" class="bg-light p-3 border border-top-0" onsubmit="mostrarMarco()">
        <h3 style="margin-bottom: 1em;">Listado de lanzamientos {{ render_icon('book', size='0.75em') }}</h3>
    
        <br>
        {{ form.csrf_token }}
        <p>
            {{ render_field(form.inicial, form_type='horizontal', horizontal_columns=('md', 2 ,4))}}
        </p>
        <p>
            {{ render_field(form.final, form_type='horizontal', horizontal_columns=('md', 2 ,4))}}
        </p>
        <p>
            {{ render_field(form.comision, form_type='horizontal', horizontal_columns=('md', 2 ,4))}}
        </p>
        <p>
            {{ render_field(form.submit, button_style='outline-success')}}
        </p>
    </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
