{% extends 'base.html' %}

{% block title %}
    Señalamientos del día
{% endblock %}

{% block nav %}
    {{ super () }}
{% endblock %}

{% block content %}
    <br>
    <h3 style="margin-bottom: 1em;">Listado de lanzamientos {{ render_icon('book', size='0.75em') }}</h3>
    
    <br>
    <form action="" method="post" target="_blank">
        {{ form.hidden_tag() }}
        <p>
            {{ render_field(form.inicial, form_type='horizontal', horizontal_columns=('md', 2 ,4))}}
        </p>
        <p>
            {{ render_field(form.final, form_type='horizontal', horizontal_columns=('md', 2 ,4))}}
        </p>
        <p>
            {{ render_field(form.comision, form_type='horizontal', horizontal_columns=('md', 2 ,4))}}
        </p>
        <p>
            {{ render_field(form.submit, button_style='outline-success')}}
        </p>
    </form>
        
{% endblock %}
