{% extends 'base.html' %}

{% block title %}
    Perfil
{% endblock %}

{% block content %}
<div class="card card-body">
    <form action="" method="post" autocomplete="nope" class="bg-light shado-sm p-3 border border-top-0">
        {{ form.csrf_token }}
        <br><br>
        <p>
            <label for="name">Nombre de usuario</label>
            <input type="text" name="name" id="" placeholder="{{name}}" autocomplete="off">
    
        <p>
            {{ render_field(form.submit, button_style='outline-success') }}
        </p>
   
    </form>
</div>
    
{% endblock %}