{% extends 'base.html' %}

{% block title %}
    Registro
{% endblock %}

{% block content %}
    <br>
    <h4>Registro</h4>
    <form action="" method="post">
        {{ form.csrf_token }}
        <p>{{ render_field(form.username, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form.password, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form.repetir_password, form_type='horizontal', horizontal_columns=('md', 2 ,2)) }}</p>
        <p>{{ render_field(form.submit, button_style='outline-success') }}</p>
    </form>
{% endblock %}